@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'vars';
@import 'debug'; 

html{
    scroll-behavior: smooth;
}

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}

@import './components/header';
@import './components/hero';
@import './components/building';
@import './components/views';
@import './components/views-group';
@import './components/amenities';
@import './components/neighbourhoods';
@import './components/layout';
@import './components/contact';
@import './components/map';
@import './components/footer';
@import './components/popups';

.marker {
    background-image: url('../images/new images/map-marker.svg');
    background-size: cover;
    width: 96px;
    height: 64px;
    opacity:1 !important;
    cursor: pointer;
}

