@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'vars';
@import 'debug'; 

*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}
header{
    background-color: #97301F;
    position: fixed;
    width: 100%;
    z-index: 1000;
    .header-wrap{
        max-width: 1200px;
        padding: 15px 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(sm){
            justify-content: center;
        }
        a{
            cursor: pointer;
        }
        .logo-wrap{
            a{
                display: flex;
                @include responsive(sm){
                    justify-content: center;
                }
            }
            .logo{
                @include responsive(sm){
                    width: 80%;

                }
                @include responsive(xs){
                    width: 70%;
                }
            }
        }
        .links-wrap{
            @include responsive(sm){
                display: none;
                position: absolute;
                left: 0;
                background-color: white;
                padding: 20px;
                top: 70px;
                width: 100%;
                box-shadow: 0 10px 10px -5px rgba($color: #000000, $alpha: 0.15);
            }
            @include responsive(xs){
                top: 65px;
            }
        }
        .links{
            display: flex;
            align-items: center;
            @include responsive(sm){
                flex-direction: column;
            }
            .link{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                margin-left: 50px;
                font-weight: 500;
                text-transform: uppercase;
                font-family: "Open Sans", sans-serif;
                @include responsive(lg){
                    margin-left: 40px;
                    font-size: 14px;
                }
                @include responsive(md){
                    margin-left: 20px;
                    font-size: 12px;
                }
                @include responsive(sm){
                    margin: 10px;
                    color: black;
                }
            }
            .link-residences{
                margin-left: 0px;
                @include responsive(sm){
                    margin: 10px;
                }
            }
            .link-contact{
                color: #97301F;
                padding: 8px 32px;
                border-radius: 4px;
                font-family: 'avenir';
                background-color: #fff;
                @include responsive(sm){
                    display: none;
                }
            }
        }
    }
    .contact-link-mobile{
        display: none;
        color: #97301F;
        padding: 8px 32px;
        border-radius: 4px;
        font-family: 'avenir';
        background-color: #fff;
        text-decoration: none;
        @include responsive(sm){
            display: block;
            position: absolute;
            right: 20px;
        }
        @include responsive(xs){
            padding: 5px 20px;
            font-size: 14px;
        }
    }
    svg{
        display: none;
        position: absolute;
        left: 20px;
        width: 40px;
        @include responsive(sm){
            display: block;
        }
    }
}
.hero{
    position: relative;
    margin-bottom: 74px;
    height: 75vh;
    overflow: hidden;
    @include responsive(sm){
        height: 50vh;
    }
    @include responsive(xs){
        height: 40vh;
    }
    video{
        position: absolute;
        z-index: -1;
        width: 100%;
        @media(max-width:1109px){
            width: unset;
            height: 100%;
        }
    }
    .container{
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .content-wrap{
            padding: 0px 0px 0px 20px;
            max-width: 505px;
            h1{
                font-family: 'avenir';
                font-size: 56px;
                color: #fff;
                line-height: 130%;
                margin-bottom: 4px;
                @include responsive(md){
                    font-size: 48px;
                }
                @include responsive(sm){
                    font-size: 38px;
                }
                @include responsive(xs){
                    font-size: 24px;
                }
            }
            p{
                font-family: 'avenir';
                font-size: 18px;
                color: #fff;
                line-height: 130%;
                margin-bottom: 50px;
                @include responsive(md){
                    font-size: 16px;
                    margin-bottom: 40px;
                }
                @include responsive(sm){
                    font-size: 14px;
                    margin-bottom: 30px;
                }
                @include responsive(xs){
                    font-size: 12px;
                    margin-bottom: 20px;
                }
            }
            a{
                padding: 12px 30px 12px 32px;
                background-color: #fff;
                color: #231F20;
                font-size: 18px;
                text-decoration: none;
                font-weight: 700;
                font-family: 'avenir';
                border-radius: 4px;
                @include responsive(md){
                    font-size: 16px;
                    padding: 10px 28px 10px 29px;
                }
                @include responsive(sm){
                    font-size: 14px;
                    padding: 7px 22px 7px 23px;
                }
            }
        }
    }
}
.building{
    margin-bottom: 80px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        .content{
            margin-bottom: 42px;
            .heading{
                margin-bottom: 34px;
                h2{
                    font-size: 48px;
                    position: relative;
                    color: #001330;
                    line-height: 120%;
                    font-family: 'chronicle';
                    text-align: center;
                    text-transform: uppercase;
                    &::after{
                        content: "";
                        background: #170f49;
                        position: absolute;
                        height: 2px;
                        width: 5%;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
            p{
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                line-height: 2;
                text-align: center;
                color: #5A5D64;
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
        .blurb{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            @include responsive(lg){
                position: unset;
            }
            .blurb-childs{
                width: 48%;
                @include responsive(lg){
                    .image-wrap{
                        height: 70%;
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .content-wrap{
                        height: 30%;
                        width: 100%;
                    }
                }
                @include responsive(xs){
                    width: 100%;
                }
            }
            .welcome-home-wrap{
                .welcome-home{
                    @include responsive(lg){
                        width: 100%;
                        // height: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                    }
                    @include responsive(xs){
                        flex-direction: column;
                    }
                    .welcome-content-wrap{
                        max-width: 263px;
                        position: absolute;
                        top: 0;
                        left: 44%;
                        margin-bottom: 20px;
                        @include responsive(lg){
                            max-width: unset;
                            position: unset;
                        }
                        h3{
                            font-size: 30px;
                            font-family: 'chronicle';
                            color: #332E2F;
                            margin-bottom: 16px;
                            line-height: 93%;
                            @include responsive(lg){
                                margin: 32px 0px 16px 0px;
                                line-height: 100%;
                            }@include responsive(xs){
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        }
                        p{
                            font-size: 18px;
                            line-height: 1.5;
                            font-family: "Open Sans", sans-serif;
                            color: #5A5D64;
                            @include responsive(xs){
                                font-size: 12px;
                            }
                        }

                    }
                }
            }
            .entertain-wrap{
                display: flex;
                align-items: flex-end;
                margin-bottom: 20px;
                @include responsive(lg){
                    display: unset;
                    align-items: unset;
                }
                .entertain{
                    max-width: 456px;
                    @include responsive(lg){
                        max-width: unset;
                    }
                    @include responsive(lg){
                        width: 100%;
                        // height: 100%;
                    }
                    transform: translate(-6%,35.4%);
                    @include responsive(lg){
                        transform: unset;
                    }
                    .entertain-content-wrap{
                        h3{
                            font-size: 30px;
                            font-family: 'chronicle';
                            color: #332E2F;
                            margin: 32px 0px 16px 0px;
                            @include responsive(xs){
                                margin: 10px 0;
                            }
                        }
                        p{
                            font-size: 18px;
                            line-height: 1.5;
                            font-family: "Open Sans", sans-serif;
                            color: #5A5D64;
                            @include responsive(xs){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .lobby-wrap{
                margin-top: 50px;
                display: flex;
                justify-content: center;
                @include responsive(lg){
                    display: unset;
                    justify-content: unset;
                    margin-top: 0px;
                }
                .lobby{
                    max-width: 457px;
                    display: flex;
                    flex-direction: column-reverse;
                    @include responsive(lg){
                        max-width: unset;
                    }
                    @include responsive(lg){
                        width: 100%;
                    }
                    @include responsive(xs){
                        flex-direction: column;
                    }
                    .lobby-content-wrap{
                        max-width: 439px;
                        margin-bottom: 30px;
                        @include responsive(lg){
                            max-width: unset;
                            margin-bottom: 0px;
                        }
                        h3{
                            font-size: 30px;
                            font-family: 'chronicle';
                            color: #332E2F;
                            margin: 32px 0px 16px 0px;
                            @include responsive(xs){
                                margin: 10px 0;
                            }
                        }
                        p{
                            font-size: 18px;
                            line-height: 1.5;
                            font-family: "Open Sans", sans-serif;
                            color: #5A5D64;
                            margin-bottom: 28px;
                            @include responsive(xs){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .doorway-wrap{
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                @include responsive(lg){
                    display: unset;
                    justify-content: unset;
                    align-items: unset;
                }
                .doorway{
                    max-width: 456px;
                    @include responsive(lg){
                        max-width: unset;
                    }
                    @include responsive(lg){
                        width: 100%;
                        // height: 100%;
                    }
                    .doorway-content-wrap{
                        h3{
                            font-size: 30px;
                            font-family: 'chronicle';
                            color: #332E2F;
                            margin: 32px 0px 16px 0px;
                            @include responsive(xs){
                                margin: 10px 0;
                            }
                        }
                        p{
                            font-size: 18px;
                            line-height: 24px;
                            font-family: "Open Sans", sans-serif;
                            color: #5A5D64;
                            @include responsive(xs){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

    }
}
.views{
    margin-top: 144px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        margin-bottom: 84px;
        @include responsive(xs){
            margin-bottom: 58px;
        }
        .image-wrapper{
            margin-bottom: 80px;
            @include responsive(md){
                margin-bottom: 64px;
            }
            @include responsive(sm){
                margin-bottom: 48px;
            }
            @include responsive(xs){
                margin-bottom: 32px;
            }
            img{
                width: 100%;
                @include responsive(xs){
                    display: none;
                }
            }
        }
        .content-wrap{
            .heading{
                margin-bottom: 54px;
                @include responsive(sm){
                    margin-bottom: 38px;
                }
                @include responsive(xs){
                    margin-bottom: 22px;
                }
                h2{
                    font-size: 48px;
                    position: relative;
                    color: #001330;
                    line-height: 120%;
                    font-family: 'chronicle';
                    padding-bottom: 2px;
                    text-align: center;
                    text-transform: uppercase;
                    @include responsive(md){
                        font-size: 42px;
                    }
                    &::after{
                        content: "";
                        background: #170f49;
                        position: absolute;
                        height: 2px;
                        width: 5%;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
            p{
                font-size: 20px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
                color: #5A5D64;
                font-weight: 600;
                line-height: 32px;
                @include responsive(md){
                    font-size: 18px;
                }
                @include responsive(sm){
                    font-size: 16px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
    }
}
.views-group{
    padding: 96px 0px;
    @include responsive(xs){
        padding: 76px 0px;
    }
    background-color: #F7F7F7;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        @include responsive(sm){
            flex-direction: column;
            gap: 50px;
        }
        @include responsive(xs){
            gap: 35px;
        }
        .view{
            width: 100%;
            img{
                width: 100%;
                margin-bottom: 48px;
                @include responsive(md){
                    margin-bottom: 32px;
                }
                @include responsive(sm){
                    margin-bottom: 30px;
                }
                @include responsive(xs){
                    margin-bottom: 20px;
                }
            }
            h3{
                font-size: 28px;
                font-family: 'chronicle';
                text-align: center;
                color: #332E2F;
                margin-bottom: 16px;
                @include responsive(md){
                    font-size: 22px;
                    margin-bottom: 14px;
                }
                @include responsive(sm){
                    font-size: 26px;
                    margin-bottom: 16px;
                }
                @include responsive(xs){
                    font-size: 22px;
                    margin-bottom: 14px;
                }
            }
            p{
                font-size: 15px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
                line-height: 24px;
                color: #5A5D64;
                @include responsive(md){
                    font-size: 12px;
                }
                @include responsive(sm){
                    font-size: 14px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }   
        }
    }
}
#amenities{
    padding: 156px 0px 104px 0px;
    background-color: #fbf4f0;
    @include responsive(sm){
        padding: 106px 0px 84px 0px;
    }
    @include responsive(xs){
        padding: 88px 0px 64px 0px;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        .content-wrap{
            margin-bottom: 56px;
            @include responsive(xs){
                margin-bottom: 50px;
            }
            .heading{
                margin-bottom: 34px;
                @include responsive(sm){
                    margin-bottom: 30px;
                }
                @include responsive(xs){
                    margin-bottom: 22px;
                }
                h2{
                    font-size: 48px;
                    position: relative;
                    color: #001330;
                    line-height: 120%;
                    font-family: 'chronicle';
                    text-align: center;
                    text-transform: uppercase;
                    @include responsive(md){
                        font-size: 42px;
                    }
                    &::after{
                        content: "";
                        background: #170f49;
                        position: absolute;
                        height: 2px;
                        width: 5%;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
            p{
                font-size: 18px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
                color: #5A5D64;
                line-height: 32px;
                @include responsive(md){
                    font-size: 16px;
                }
                @include responsive(sm){
                    font-size: 14px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
        .room-container{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 24px;
            @include responsive(md){
                grid-template-columns: unset;
                grid-template-rows: unset;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: unset;
            }
            .first-row{
                margin-bottom: 32px;
                order: 0;
                @include responsive(md){
                    margin-bottom: 0px;
                }
            }
            .rooms{
                width: 100%;
                @include responsive(md){
                    width: 31%;
                    margin-bottom: 35px;
                }
                @include responsive(xs){
                    width: 100%;
                    margin-bottom: 45px;
                }
                img{
                    width: 100%;
                    margin-bottom: 32px;
                    @include responsive(md){
                        margin-bottom: 20px;
                    }
                    @include responsive(xs){
                        margin-bottom: 15px;
                    }
                }
                h3{
                    font-size: 18px;
                    font-family: 'avenir';
                    color: #001330;
                    line-height: 24px;
                    margin-bottom: 8px;
                    @include responsive(md){
                        font-size: 16px;
                    }
                    @include responsive(sm){
                        font-size: 14px;
                    }
                    @include responsive(xs){
                        font-size: 16px;
                    }
                }
                p{
                    font-size: 15px;
                    font-family: "Open Sans", sans-serif;
                    color: #5A5D64;
                    line-height: 24px;
                    @include responsive(md){
                        font-size: 12px;
                    }
                }  
            }
            .business{
                grid-area: 2/2/3/4;
                @include responsive(md){
                    grid-area: unset;
                    width: 100%;
                    order: 1;
                }
                @include responsive(xs){
                    order: unset;
                }
            }
            .last-row{
                @include responsive(md){
                    order: 2;
                    margin-bottom: 0px;
                }
                @include responsive(xs){
                    order: unset;
                    margin-bottom: 45px;
                }
            }
        }
    }
}
#neighborhood{
    padding: 156px 0px;
    @include responsive(sm){
        padding: 106px 0px 96px 0px;
    }
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        .content-wrap{
            margin-bottom: 50px;
            @include responsive(xs){
                margin-bottom: 43px;
            }
            .heading{
                margin-bottom: 43px;
                @include responsive(sm){
                    margin-bottom: 35px;
                }
                @include responsive(xs){
                    margin-bottom: 25px;
                }
                h2{
                    font-size: 48px;
                    position: relative;
                    color: #001330;
                    line-height: 120%;
                    font-family: 'chronicle';
                    text-align: center;
                    text-transform: uppercase;
                    @include responsive(md){
                        font-size: 42px;
                    }
                    @include responsive(sm){
                        font-size: 32px;
                    }
                    &::after{
                        content: "";
                        background: #170f49;
                        position: absolute;
                        height: 2px;
                        width: 5%;
                        bottom: -1px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
            p{
                font-size: 18px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
                color: #5A5D64;
                line-height: 32px;
                @include responsive(md){
                    font-size: 16px;
                }
                @include responsive(sm){
                    font-size: 14px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
        .places{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 24px;
            @include responsive(sm){
                grid-template-columns: unset;
                grid-template-rows: unset;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: unset;
            }
            .first-row{
                margin-bottom: 19px;
                @include responsive(sm){
                    margin-bottom: 0px;
                }
            }
            .place{
                width: 100%;
                @include responsive(sm){
                    width: 48%;
                    margin-bottom: 30px;
                }
                @include responsive(xs){
                    width: 100%;
                }
                img{
                    width: 100%;
                    margin-bottom: 32px;
                    @include responsive(md){
                        margin-bottom: 22px;
                    }
                }
                h3{
                    font-size: 18px;
                    font-family: 'avenir';
                    color: #001330;
                    line-height: 24px;
                    margin-bottom: 8px;
                    @include responsive(md){
                        font-size: 16px;
                    }
                    @include responsive(sm){
                        font-size: 14px;
                    }
                    @include responsive(xs){
                        font-size: 16px;
                    }
                }
                p{
                    font-size: 15px;
                    font-family: "Open Sans", sans-serif;
                    color: #5A5D64;
                    line-height: 24px;
                    @include responsive(md){
                        font-size: 12px;
                    }
                }  
            }
            .last-row{
                margin-bottom: 0px;
                @include responsive(xs){
                    margin-bottom: 30px;
                }
            }
            .last{
                margin-bottom: 0px;
            }
        }
    }
}
.layout{
    background-color: #fbf4f0;
    padding: 108px 0px 104px 0px;
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
        .content-wrap{
            margin-bottom: 48px;
            .heading{
                margin-bottom: 40px;
                @include responsive(sm){
                    margin-bottom: 34px;
                }
                @include responsive(xs){
                    margin-bottom: 24px;
                }
                h2{
                    font-size: 48px;
                    position: relative;
                    color: #001330;
                    line-height: 120%;
                    font-family: 'chronicle';
                    text-align: center;
                    text-transform: uppercase;
                    @include responsive(md){
                        font-size: 42px;
                    }
                    &::after{
                        content: "";
                        background: #170f49;
                        position: absolute;
                        height: 2px;
                        width: 5%;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
            p{
                font-size: 20px;
                font-family: "Open Sans", sans-serif;
                text-align: center;
                color: #5A5D64;
                line-height: 32px;
                font-weight: 600;
                @include responsive(md){
                    font-size: 18px;
                }
                @include responsive(sm){
                    font-size: 16px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
        .layouts{
            display: flex;
            justify-content: space-between;
            gap: 24px;
            @include responsive(sm){
                flex-direction: column;
                gap: 50px;
            }
            @include responsive(xs){
                gap: 35px;
            }
            .room{
                width: 100%;
                img{
                    margin-bottom: 32px;
                    width: 100%;
                    @include responsive(md){
                        margin-bottom: 30px;
                    }
                    @include responsive(sm){
                        margin-bottom: 28px;
                    }
                    @include responsive(xs){
                        margin-bottom: 20px;
                    }
                }
                h3{
                    font-size: 28px;
                    font-family: 'chronicle';
                    text-align: center;
                    color: #332E2F;
                    line-height: 24px;
                    margin-bottom: 8px;
                    @include responsive(md){
                        font-size: 22px;
                    }
                    @include responsive(sm){
                        font-size: 26px;
                    }
                    @include responsive(xs){
                        font-size: 22px;
                        margin-bottom: 6px;
                    }
                }
                p{
                    font-size: 15px;
                    font-family: "Open Sans", sans-serif;
                    text-align: center;
                    line-height: 24px;
                    color: #5A5D64;
                    @include responsive(md){
                        font-size: 12px;
                    }
                    @include responsive(sm){
                        font-size: 14px;
                    }
                    @include responsive(xs){
                        font-size: 12px;
                    }
                }
                .price-tag{
                    font-size: 16px;
                    font-family: 'avenir';
                    text-align: center;
                    color: #001330;
                    margin-bottom: 8px;
                    @include responsive(md){
                        font-size: 14px;
                    }
                    @include responsive(sm){
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.contact{
    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 72px 20px;
        .heading{
            font-size: 48px;
            position: relative;
            color: #001330;
            line-height: 120%;
            font-family: 'chronicle';
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 32px;
            &::after{
                content: "";
                background: #170f49;
                position: absolute;
                height: 2px;
                width: 5%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
            }
        }
        .sub-heading{
            font-weight: 700;
            font-size: 18px;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            color: #5A5D64;
            line-height: 1.8;
        }
        .description{
            font-size: 18px;
            font-family: "Open Sans", sans-serif;
            text-align: center;
            color: #5A5D64;
            margin-bottom: 66px;
            line-height: 1.8;
            @include responsive(xs){
                font-size: 12px;
            }
        }
        .form{
            .field-group{
                display: flex;
                gap: 24px;
                justify-content: space-between;
                margin-bottom: 24px;
                @include responsive(sm){
                    flex-wrap: wrap;
                }
                div{
                    width: 100%;
                    font-family: 'avenir';
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    svg{
                        position: absolute;
                        right: 11px;
                        bottom: 11px;
                        pointer-events: none;
                    }
                    label{
                        font-size: 14px;
                        line-height: 1.25;
                        margin-bottom: 5px;
                        color: #252A31;
                    }
                    input, textarea, select{
                        resize: none;
                        font-family: 'avenir';
                        padding: 12px;
                        padding-right: 38px;
                        border-radius: 4px;
                        border: 1px solid #BAC7D5;
                        background-color: #f3f5f7;
                    }
                    textarea{
                        height: 128px;
                    }
                    input, select{
                        max-height: 48px;
                        height: 48px;
                    }
                    select { 
                        /* for Firefox */ 
                        -moz-appearance: none; 
                        /* for Safari, Chrome, Opera */ 
                        -webkit-appearance: none; 
                    } 
                
                    /* for IE10 */ 
                    select::-ms-expand { 
                        display: none; 
                    
                    }
                    input[type="date"], select{
                        padding-right: 12px;
                    } 
                    input[type="date"]::-webkit-inner-spin-button,
                    input[type="date"]::-webkit-calendar-picker-indicator {
                        opacity: 0;
                        -webkit-appearance: none;
                    }
                }
            }
            .button-wrap{
                display: flex;
                justify-content: center;
                margin-bottom: 44px;
                .button{
                    margin-top: 42px;
                    padding: 13px 56px;
                    border-radius: 4px;
                    background-color: #001330;
                    color: white;
                    font-size: 16px;
                    font-weight: 700;
                    font-family: "Open Sans", sans-serif;
                }
            }
        }
        .link-to-apply{
            display: flex;
            align-items: center;
            flex-direction: column;
            p{
                color: #5A5D64;
                font-size: 24px;
                font-weight: 700;
                font-family: "Open Sans";
                margin-bottom: 20px;
            }
            a{
                color: #97301F;
                text-transform: uppercase;
                font-family: "open sans";
                font-weight: 700;
            }
        }
    }
}
.map{
    iframe{
        width: 100%;
    }
}
footer{
    width: 100%;
    background-color: #332E2F;
    .footer-wrap{
        max-width: 1200px;
        padding: 15px 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            cursor: pointer;
        }
        .logo-wrap{
            .logo{
                @include responsive(md){
                    width: 80%;
                }
                @include responsive(sm){
                    width: 60%;
                }
            }
        }
        .links{
            display: flex;
            align-items: center;
            @include responsive(xs){
                flex-wrap: wrap;
                justify-content: center;
            }
            .link{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                margin-left: 32px;
                font-weight: 500;
                font-family: "Open Sans", sans-serif;
                @include responsive(lg){
                    margin-left: 28px;
                }
                @include responsive(md){
                    font-size: 12px;
                    margin-left: 20px;
                }
                @include responsive(sm){
                    font-size: 12px;
                    margin-left: 10px;
                    width: 100%;
                    margin: 0;
                    margin: 5px 0;
                    text-align: center;
                }
            }
            .link-home{
                margin-left: 0px;
            }
            .link-contact{
                padding: 3px 10px;
                font-size: 13px;
                @include responsive(md){
                    padding: 2px 8px;
                    font-size: 12px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
                border-radius: 2px;
                text-transform: uppercase;
                background-color: #97301F;
            }
        }
        .icons{
            display: flex;
            gap: 40px;
            justify-content: flex-end;
            align-items: center;
            @include responsive(lg){
                gap: 0px;
            }
            a{
                text-align: end;
                &:nth-child(1){
                    @include responsive(md){
                        margin-left: 5px;
                    }
                }
                &:nth-child(2){
                    @include responsive(md){
                        text-align: center;
                    }
                }
            }
            .footer_logo{
                mix-blend-mode: screen;
            }
            .footer_logo_1{
                @include responsive(lg){
                    width: 80%;
                }
                @include responsive(md){
                    width: 60%;
                }
                @include responsive(sm){
                    width: 50%;
                }
            }
            .footer_logo_2{
                @include responsive(lg){
                    width: 75%;
                }
                @include responsive(md){
                    width: 60%;
                }
                @include responsive(sm){
                    width: 50%;
                }
            }
        }
    }
}