.hero{
    position: relative;
    margin-bottom: 74px;
    height: 75vh;
    overflow: hidden;
    padding-top: 80px;
    &::after{
        position: absolute;
        content: "";
        inset: 0;
        z-index: -1;
        background: linear-gradient(to right, rgba(0,0,0,0.3), transparent);
    }
    video{
        position: absolute;
        z-index: -1;
        width: 100%;
        @media(max-width:1109px){
            width: unset;
            height: 100%;
        }
    }
    .container{
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .content-wrap{
            padding: 0px 0px 0px 20px;
            max-width: 505px;
            h1{
                font-family: 'avenir';
                font-size: 56px;
                color: #fff;
                line-height: 130%;
                margin-bottom: 4px;
                @include responsive(md){
                    font-size: 48px;
                }
                @include responsive(sm){
                    font-size: 38px;
                }
                @include responsive(xs){
                    font-size: 24px;
                }
            }
            p{
                font-family: 'avenir';
                font-size: 18px;
                color: #fff;
                line-height: 130%;
                margin-bottom: 50px;
                @include responsive(md){
                    font-size: 16px;
                    margin-bottom: 40px;
                }
                @include responsive(sm){
                    font-size: 14px;
                    margin-bottom: 30px;
                }
                @include responsive(xs){
                    font-size: 12px;
                    margin-bottom: 20px;
                }
            }
            a{
                padding: 12px 30px 12px 32px;
                background-color: #fff;
                color: #231F20;
                font-size: 18px;
                text-decoration: none;
                font-weight: 700;
                font-family: 'avenir';
                border-radius: 4px;
                @include responsive(md){
                    font-size: 16px;
                    padding: 10px 28px 10px 29px;
                }
                @include responsive(sm){
                    font-size: 14px;
                    padding: 7px 22px 7px 23px;
                }
            }
        }
    }
}