@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "avenir";
  src: url(../fonts/avenir_roman_12.otf);
}
@font-face {
  font-family: "chronicle";
  src: url(../fonts/chronicle_display_black.otf);
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  background-color: #97301F;
  position: sticky;
  width: 100%;
}
header .header-wrap {
  max-width: 1200px;
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap .links {
  display: flex;
  align-items: center;
}
header .header-wrap .links .link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 50px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
header .header-wrap .links .residences {
  margin-left: 0px;
}
header .header-wrap .links .contact {
  color: #97301F;
  padding: 8px 32px;
  border-radius: 4px;
  font-family: "avenir";
  background-color: #fff;
}

.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 74px;
}
.hero video {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.hero .container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero .container .content-wrap {
  padding: 150px 20px 120px 20px;
  width: 525px;
}
.hero .container .content-wrap h1 {
  font-family: "avenir";
  font-size: 56px;
  color: #fff;
  line-height: 130%;
  margin-bottom: 2px;
}
.hero .container .content-wrap p {
  font-family: "avenir";
  font-size: 18px;
  color: #fff;
  line-height: 130%;
  margin-bottom: 50px;
}
.hero .container .content-wrap a {
  padding: 12px 30px 12px 32px;
  background-color: #fff;
  color: #231F20;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  font-family: "avenir";
  border-radius: 4px;
}

.views {
  margin-top: 144px;
}
.views .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-bottom: 84px;
}
.views .container .image-wrapper {
  margin-bottom: 80px;
}
.views .container .content-wrap .heading {
  margin-bottom: 58px;
}
.views .container .content-wrap .heading h2 {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  text-align: center;
  text-transform: uppercase;
}
.views .container .content-wrap .heading h2::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 50px;
  bottom: 0;
  left: 48%;
}
.views .container .content-wrap p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  font-weight: 600;
}

.views-group {
  padding: 96px 0px;
  background-color: #F7F7F7;
}
.views-group .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.views-group .container .view {
  width: 100%;
}
.views-group .container .view img {
  margin-bottom: 48px;
  width: 100%;
}
.views-group .container .view h3 {
  font-size: 28px;
  font-family: "chronicle";
  text-align: center;
  color: #332E2F;
  margin-bottom: 16px;
}
.views-group .container .view p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
}

/*# sourceMappingURL=style.css.map */
