@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "avenir";
  src: url(../fonts/avenir_roman_12.otf);
}
@font-face {
  font-family: "chronicle";
  src: url(../fonts/chronicle_display_black.otf);
}
html {
  scroll-behavior: smooth;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  background-color: #97301F;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header .header-wrap {
  max-width: 1200px;
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap a {
  cursor: pointer;
}
@media (max-width: 767px) {
  header .header-wrap .logo-wrap .logo {
    width: 80%;
  }
}
@media (max-width: 575px) {
  header .header-wrap .logo-wrap .logo {
    width: 70%;
  }
}
@media (max-width: 767px) {
  header .header-wrap .links-wrap {
    display: none;
    position: absolute;
    left: 0;
    background-color: white;
    padding: 20px;
    top: 70px;
    width: 100%;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.15);
  }
}
@media (max-width: 575px) {
  header .header-wrap .links-wrap {
    top: 65px;
  }
}
header .header-wrap .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .header-wrap .links {
    flex-direction: column;
  }
}
header .header-wrap .links .link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 50px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1240px) {
  header .header-wrap .links .link {
    margin-left: 40px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  header .header-wrap .links .link {
    margin-left: 20px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  header .header-wrap .links .link {
    margin: 10px;
    color: black;
  }
}
header .header-wrap .links .link-residences {
  margin-left: 0px;
}
@media (max-width: 767px) {
  header .header-wrap .links .link-residences {
    margin: 10px;
  }
}
header .header-wrap .links .link-contact {
  color: #97301F;
  padding: 8px 32px;
  border-radius: 4px;
  font-family: "avenir";
  background-color: #fff;
}
@media (max-width: 767px) {
  header .header-wrap .links .link-contact {
    color: unset;
    background-color: unset;
    padding: unset;
    border-radius: unset;
  }
}
header svg {
  display: none;
  width: 30px;
}
@media (max-width: 767px) {
  header svg {
    display: block;
  }
}

.hero {
  position: relative;
  margin-bottom: 74px;
  height: 75vh;
  overflow: hidden;
  padding-top: 80px;
}
.hero::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}
.hero video {
  position: absolute;
  z-index: -1;
  width: 100%;
}
@media (max-width: 1109px) {
  .hero video {
    width: unset;
    height: 100%;
  }
}
.hero .container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.hero .container .content-wrap {
  padding: 0px 0px 0px 20px;
  max-width: 505px;
}
.hero .container .content-wrap h1 {
  font-family: "avenir";
  font-size: 56px;
  color: #fff;
  line-height: 130%;
  margin-bottom: 4px;
}
@media (max-width: 991px) {
  .hero .container .content-wrap h1 {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .hero .container .content-wrap h1 {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  .hero .container .content-wrap h1 {
    font-size: 24px;
  }
}
.hero .container .content-wrap p {
  font-family: "avenir";
  font-size: 18px;
  color: #fff;
  line-height: 130%;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .hero .container .content-wrap p {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .hero .container .content-wrap p {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .hero .container .content-wrap p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
.hero .container .content-wrap a {
  padding: 12px 30px 12px 32px;
  background-color: #fff;
  color: #231F20;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  font-family: "avenir";
  border-radius: 4px;
}
@media (max-width: 991px) {
  .hero .container .content-wrap a {
    font-size: 16px;
    padding: 10px 28px 10px 29px;
  }
}
@media (max-width: 767px) {
  .hero .container .content-wrap a {
    font-size: 14px;
    padding: 7px 22px 7px 23px;
  }
}

.building {
  margin-bottom: 80px;
}
.building .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
.building .container .content {
  margin-bottom: 42px;
}
.building .container .content .heading {
  margin-bottom: 34px;
}
.building .container .content .heading h2 {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  text-align: center;
  text-transform: uppercase;
}
.building .container .content .heading h2::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.building .container .content p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  text-align: center;
  color: #5A5D64;
}
@media (max-width: 575px) {
  .building .container .content p {
    font-size: 12px;
  }
}
.building .container .blurb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1240px) {
  .building .container .blurb {
    position: unset;
  }
}
.building .container .blurb .blurb-childs {
  width: 48%;
}
.building .container .blurb .blurb-childs img {
  width: 100%;
}
@media (max-width: 1240px) {
  .building .container .blurb .blurb-childs .image-wrap {
    height: 70%;
    width: 100%;
  }
  .building .container .blurb .blurb-childs .image-wrap img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .building .container .blurb .blurb-childs .content-wrap {
    height: 30%;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .blurb-childs {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .welcome-home-wrap {
    order: 1;
  }
}
@media (max-width: 1240px) {
  .building .container .blurb .welcome-home-wrap .welcome-home {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .welcome-home-wrap .welcome-home {
    flex-direction: column;
  }
}
.building .container .blurb .welcome-home-wrap .welcome-home .image-wrap img {
  width: 81.7%;
}
@media (max-width: 575px) {
  .building .container .blurb .welcome-home-wrap .welcome-home .image-wrap img {
    width: 100%;
  }
}
.building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap {
  max-width: 263px;
  position: absolute;
  top: 0;
  left: 44%;
  margin-bottom: 20px;
}
@media (max-width: 1240px) {
  .building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap {
    max-width: unset;
    position: unset;
  }
}
.building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap h3 {
  font-size: 30px;
  font-family: "chronicle";
  color: #332E2F;
  margin-bottom: 16px;
  line-height: 93%;
}
@media (max-width: 1240px) {
  .building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap h3 {
    margin: 32px 0px 16px 0px;
    line-height: 100%;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #5A5D64;
}
@media (max-width: 575px) {
  .building .container .blurb .welcome-home-wrap .welcome-home .welcome-content-wrap p {
    font-size: 12px;
  }
}
.building .container .blurb .entertain-wrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 190px;
}
@media (max-width: 1240px) {
  .building .container .blurb .entertain-wrap {
    margin-bottom: 20px;
    display: unset;
    align-items: unset;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .entertain-wrap {
    order: 2;
  }
}
.building .container .blurb .entertain-wrap .entertain {
  max-width: 456px;
  transform: translate(-6%, 35.4%);
}
@media (max-width: 1240px) {
  .building .container .blurb .entertain-wrap .entertain {
    max-width: unset;
  }
}
@media (max-width: 1240px) {
  .building .container .blurb .entertain-wrap .entertain {
    width: 100%;
  }
}
@media (max-width: 1240px) {
  .building .container .blurb .entertain-wrap .entertain {
    transform: unset;
  }
}
.building .container .blurb .entertain-wrap .entertain .entertain-content-wrap h3 {
  font-size: 30px;
  font-family: "chronicle";
  color: #332E2F;
  margin: 32px 0px 16px 0px;
}
@media (max-width: 575px) {
  .building .container .blurb .entertain-wrap .entertain .entertain-content-wrap h3 {
    margin: 10px 0;
  }
}
.building .container .blurb .entertain-wrap .entertain .entertain-content-wrap p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #5A5D64;
}
@media (max-width: 575px) {
  .building .container .blurb .entertain-wrap .entertain .entertain-content-wrap p {
    font-size: 12px;
  }
}
.building .container .blurb .lobby-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1240px) {
  .building .container .blurb .lobby-wrap {
    display: unset;
    justify-content: unset;
    margin-top: 0px;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .lobby-wrap {
    order: 4;
  }
}
.building .container .blurb .lobby-wrap .lobby {
  max-width: 457px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
@media (max-width: 1240px) {
  .building .container .blurb .lobby-wrap .lobby {
    max-width: unset;
  }
}
@media (max-width: 1240px) {
  .building .container .blurb .lobby-wrap .lobby {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .lobby-wrap .lobby {
    flex-direction: column;
  }
}
.building .container .blurb .lobby-wrap .lobby .lobby-content-wrap {
  max-width: 439px;
  margin-bottom: 30px;
}
@media (max-width: 1240px) {
  .building .container .blurb .lobby-wrap .lobby .lobby-content-wrap {
    max-width: unset;
    margin-bottom: 0px;
  }
}
.building .container .blurb .lobby-wrap .lobby .lobby-content-wrap h3 {
  font-size: 30px;
  font-family: "chronicle";
  color: #332E2F;
  margin: 32px 0px 16px 0px;
}
@media (max-width: 575px) {
  .building .container .blurb .lobby-wrap .lobby .lobby-content-wrap h3 {
    margin: 10px 0;
  }
}
.building .container .blurb .lobby-wrap .lobby .lobby-content-wrap p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #5A5D64;
  margin-bottom: 28px;
}
@media (max-width: 575px) {
  .building .container .blurb .lobby-wrap .lobby .lobby-content-wrap p {
    font-size: 12px;
  }
}
.building .container .blurb .doorway-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 1240px) {
  .building .container .blurb .doorway-wrap {
    display: unset;
    justify-content: unset;
    align-items: unset;
  }
}
@media (max-width: 575px) {
  .building .container .blurb .doorway-wrap {
    order: 3;
  }
}
.building .container .blurb .doorway-wrap .doorway {
  max-width: 456px;
}
@media (max-width: 1240px) {
  .building .container .blurb .doorway-wrap .doorway {
    max-width: unset;
  }
}
@media (max-width: 1240px) {
  .building .container .blurb .doorway-wrap .doorway {
    width: 100%;
  }
}
.building .container .blurb .doorway-wrap .doorway .doorway-content-wrap h3 {
  font-size: 30px;
  font-family: "chronicle";
  color: #332E2F;
  margin: 32px 0px 16px 0px;
}
@media (max-width: 575px) {
  .building .container .blurb .doorway-wrap .doorway .doorway-content-wrap h3 {
    margin: 10px 0;
  }
}
.building .container .blurb .doorway-wrap .doorway .doorway-content-wrap p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #5A5D64;
}
@media (max-width: 575px) {
  .building .container .blurb .doorway-wrap .doorway .doorway-content-wrap p {
    font-size: 12px;
  }
}

.views {
  margin-top: 144px;
}
@media (max-width: 767px) {
  .views {
    margin-top: 80px;
  }
}
.views .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  margin-bottom: 84px;
}
@media (max-width: 575px) {
  .views .container {
    margin-bottom: 58px;
  }
}
.views .container .image-wrapper {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .views .container .image-wrapper {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .views .container .image-wrapper {
    margin-bottom: 48px;
  }
}
@media (max-width: 575px) {
  .views .container .image-wrapper {
    margin-bottom: 32px;
  }
}
.views .container .image-wrapper img {
  width: 100%;
}
.views .container .content-wrap .heading {
  margin-bottom: 54px;
}
@media (max-width: 767px) {
  .views .container .content-wrap .heading {
    margin-bottom: 38px;
  }
}
@media (max-width: 575px) {
  .views .container .content-wrap .heading {
    margin-bottom: 22px;
  }
}
.views .container .content-wrap .heading h2 {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  padding-bottom: 2px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .views .container .content-wrap .heading h2 {
    font-size: 42px;
  }
}
.views .container .content-wrap .heading h2::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.views .container .content-wrap p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  font-weight: 600;
  line-height: 32px;
}
@media (max-width: 991px) {
  .views .container .content-wrap p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .views .container .content-wrap p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .views .container .content-wrap p {
    font-size: 12px;
  }
}

.views-group {
  padding: 96px 0px;
  background-color: #F7F7F7;
}
@media (max-width: 575px) {
  .views-group {
    padding: 76px 0px;
  }
}
.views-group .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 767px) {
  .views-group .container {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 575px) {
  .views-group .container {
    gap: 35px;
  }
}
.views-group .container .view {
  width: 100%;
}
.views-group .container .view img {
  width: 100%;
  margin-bottom: 48px;
}
@media (max-width: 991px) {
  .views-group .container .view img {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .views-group .container .view img {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  .views-group .container .view img {
    margin-bottom: 20px;
  }
}
.views-group .container .view h3 {
  font-size: 28px;
  font-family: "chronicle";
  text-align: center;
  color: #332E2F;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .views-group .container .view h3 {
    font-size: 22px;
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .views-group .container .view h3 {
    font-size: 26px;
    margin-bottom: 16px;
  }
}
@media (max-width: 575px) {
  .views-group .container .view h3 {
    font-size: 22px;
    margin-bottom: 14px;
  }
}
.views-group .container .view p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  line-height: 24px;
  color: #5A5D64;
}
@media (max-width: 991px) {
  .views-group .container .view p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .views-group .container .view p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .views-group .container .view p {
    font-size: 12px;
  }
}

#amenities {
  padding: 156px 0px 104px 0px;
  background-color: #fbf4f0;
}
@media (max-width: 767px) {
  #amenities {
    padding: 106px 0px 84px 0px;
  }
}
@media (max-width: 575px) {
  #amenities {
    padding: 88px 0px 64px 0px;
  }
}
#amenities .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
#amenities .container .content-wrap {
  margin-bottom: 56px;
}
@media (max-width: 575px) {
  #amenities .container .content-wrap {
    margin-bottom: 50px;
  }
}
#amenities .container .content-wrap .heading {
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  #amenities .container .content-wrap .heading {
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  #amenities .container .content-wrap .heading {
    margin-bottom: 22px;
  }
}
#amenities .container .content-wrap .heading h2 {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #amenities .container .content-wrap .heading h2 {
    font-size: 42px;
  }
}
#amenities .container .content-wrap .heading h2::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
#amenities .container .content-wrap p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  line-height: 32px;
}
@media (max-width: 991px) {
  #amenities .container .content-wrap p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #amenities .container .content-wrap p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  #amenities .container .content-wrap p {
    font-size: 12px;
  }
}
#amenities .container .room-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 991px) {
  #amenities .container .room-container {
    grid-template-columns: unset;
    grid-template-rows: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: unset;
  }
}
#amenities .container .room-container .first-row {
  margin-bottom: 32px;
  order: 0;
}
@media (max-width: 991px) {
  #amenities .container .room-container .first-row {
    margin-bottom: 0px;
  }
}
#amenities .container .room-container .rooms {
  width: 100%;
}
@media (max-width: 991px) {
  #amenities .container .room-container .rooms {
    width: 31%;
    margin-bottom: 35px;
  }
}
@media (max-width: 575px) {
  #amenities .container .room-container .rooms {
    width: 100%;
    margin-bottom: 45px;
  }
}
#amenities .container .room-container .rooms img {
  width: 100%;
  margin-bottom: 32px;
}
@media (max-width: 991px) {
  #amenities .container .room-container .rooms img {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  #amenities .container .room-container .rooms img {
    margin-bottom: 15px;
  }
}
#amenities .container .room-container .rooms h3 {
  font-size: 18px;
  font-family: "avenir";
  color: #001330;
  line-height: 24px;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  #amenities .container .room-container .rooms h3 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #amenities .container .room-container .rooms h3 {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  #amenities .container .room-container .rooms h3 {
    font-size: 16px;
  }
}
#amenities .container .room-container .rooms p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #5A5D64;
  text-align: justify;
  line-height: 24px;
}
@media (max-width: 991px) {
  #amenities .container .room-container .rooms p {
    font-size: 12px;
  }
}
#amenities .container .room-container .business {
  grid-area: 2/2/3/4;
}
@media (max-width: 991px) {
  #amenities .container .room-container .business {
    grid-area: unset;
    width: 100%;
    order: 1;
  }
}
@media (max-width: 575px) {
  #amenities .container .room-container .business {
    order: unset;
  }
}
@media (max-width: 991px) {
  #amenities .container .room-container .last-row {
    order: 2;
    margin-bottom: 0px;
  }
}
@media (max-width: 575px) {
  #amenities .container .room-container .last-row {
    order: unset;
    margin-bottom: 45px;
  }
}

#neighborhood {
  padding: 156px 0px;
}
@media (max-width: 767px) {
  #neighborhood {
    padding: 106px 0px 96px 0px;
  }
}
#neighborhood .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
#neighborhood .container .content-wrap {
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  #neighborhood .container .content-wrap {
    margin-bottom: 43px;
  }
}
#neighborhood .container .content-wrap .heading {
  margin-bottom: 43px;
}
@media (max-width: 767px) {
  #neighborhood .container .content-wrap .heading {
    margin-bottom: 35px;
  }
}
@media (max-width: 575px) {
  #neighborhood .container .content-wrap .heading {
    margin-bottom: 25px;
  }
}
#neighborhood .container .content-wrap .heading h2 {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #neighborhood .container .content-wrap .heading h2 {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  #neighborhood .container .content-wrap .heading h2 {
    font-size: 32px;
  }
}
#neighborhood .container .content-wrap .heading h2::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 5%;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%);
}
#neighborhood .container .content-wrap p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  line-height: 32px;
}
@media (max-width: 991px) {
  #neighborhood .container .content-wrap p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #neighborhood .container .content-wrap p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  #neighborhood .container .content-wrap p {
    font-size: 12px;
  }
}
#neighborhood .container .places {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
@media (max-width: 767px) {
  #neighborhood .container .places {
    grid-template-columns: unset;
    grid-template-rows: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: unset;
  }
}
#neighborhood .container .places .first-row {
  margin-bottom: 19px;
}
@media (max-width: 767px) {
  #neighborhood .container .places .first-row {
    margin-bottom: 0px;
  }
}
#neighborhood .container .places .place {
  width: 100%;
}
@media (max-width: 767px) {
  #neighborhood .container .places .place {
    width: 48%;
    margin-bottom: 30px;
  }
}
@media (max-width: 575px) {
  #neighborhood .container .places .place {
    width: 100%;
  }
}
#neighborhood .container .places .place img {
  width: 100%;
  margin-bottom: 32px;
}
@media (max-width: 991px) {
  #neighborhood .container .places .place img {
    margin-bottom: 22px;
  }
}
#neighborhood .container .places .place h3 {
  font-size: 18px;
  font-family: "avenir";
  color: #001330;
  line-height: 24px;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  #neighborhood .container .places .place h3 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #neighborhood .container .places .place h3 {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  #neighborhood .container .places .place h3 {
    font-size: 16px;
  }
}
#neighborhood .container .places .place p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #5A5D64;
  text-align: justify;
  line-height: 24px;
}
@media (max-width: 991px) {
  #neighborhood .container .places .place p {
    font-size: 12px;
  }
}
#neighborhood .container .places .last-row {
  margin-bottom: 0px;
}
@media (max-width: 575px) {
  #neighborhood .container .places .last-row {
    margin-bottom: 30px;
  }
}
#neighborhood .container .places .last {
  margin-bottom: 0px;
}

.layout {
  background-color: #fbf4f0;
  padding: 108px 0px;
  padding-bottom: 60px;
}
.layout .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
.layout .container .content-wrap {
  margin-bottom: 48px;
}
.layout .container .content-wrap .heading {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .layout .container .content-wrap .heading {
    margin-bottom: 34px;
  }
}
@media (max-width: 575px) {
  .layout .container .content-wrap .heading {
    margin-bottom: 24px;
  }
}
.layout .container .content-wrap .heading h2 {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .layout .container .content-wrap .heading h2 {
    font-size: 42px;
  }
}
.layout .container .content-wrap .heading h2::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.layout .container .content-wrap p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  line-height: 32px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .layout .container .content-wrap p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .layout .container .content-wrap p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .layout .container .content-wrap p {
    font-size: 12px;
  }
}
.layout .container .layouts {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 767px) {
  .layout .container .layouts {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 575px) {
  .layout .container .layouts {
    gap: 35px;
  }
}
.layout .container .layouts .room {
  width: 100%;
}
.layout .container .layouts .room img {
  margin-bottom: 32px;
  width: 100%;
}
@media (max-width: 991px) {
  .layout .container .layouts .room img {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .layout .container .layouts .room img {
    margin-bottom: 28px;
  }
}
@media (max-width: 575px) {
  .layout .container .layouts .room img {
    margin-bottom: 20px;
  }
}
.layout .container .layouts .room h3 {
  font-size: 18px;
  font-family: "avenir";
  text-align: center;
  color: #001330;
  line-height: 24px;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .layout .container .layouts .room h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .layout .container .layouts .room h3 {
    font-size: 26px;
  }
}
@media (max-width: 575px) {
  .layout .container .layouts .room h3 {
    font-size: 22px;
    margin-bottom: 6px;
  }
}
.layout .container .layouts .room p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 24px;
  text-align: justify;
  color: #5A5D64;
}
@media (max-width: 991px) {
  .layout .container .layouts .room p {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .layout .container .layouts .room p {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .layout .container .layouts .room p {
    font-size: 12px;
  }
}
.layout .container .layouts .room .price-tag {
  font-size: 16px;
  font-family: "avenir";
  text-align: center;
  color: #001330;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .layout .container .layouts .room .price-tag {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .layout .container .layouts .room .price-tag {
    font-size: 14px;
  }
}
.layout .container .notice {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 70px;
  opacity: 0.5;
  font-size: 13px;
}

.contact .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 72px 20px;
}
.contact .container .heading {
  font-size: 48px;
  position: relative;
  color: #001330;
  line-height: 120%;
  font-family: "chronicle";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.contact .container .heading::after {
  content: "";
  background: #170f49;
  position: absolute;
  height: 2px;
  width: 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.contact .container .sub-heading {
  font-weight: 700;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  line-height: 1.8;
}
.contact .container .description {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #5A5D64;
  margin-bottom: 66px;
  line-height: 1.8;
}
@media (max-width: 575px) {
  .contact .container .description {
    font-size: 12px;
  }
}
.contact .container .form .field-group {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .contact .container .form .field-group {
    flex-wrap: wrap;
  }
}
.contact .container .form .field-group div {
  width: 100%;
  font-family: "avenir";
  display: flex;
  flex-direction: column;
  position: relative;
  /* for IE10 */
}
.contact .container .form .field-group div svg {
  position: absolute;
  right: 11px;
  bottom: 11px;
  pointer-events: none;
}
.contact .container .form .field-group div label {
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 5px;
  color: #252A31;
}
.contact .container .form .field-group div input, .contact .container .form .field-group div textarea, .contact .container .form .field-group div select {
  resize: none;
  font-family: "avenir";
  padding: 12px;
  font-size: 16px;
  padding-right: 38px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #BAC7D5;
  background-color: #f3f5f7;
}
@media (max-width: 767px) {
  .contact .container .form .field-group div input, .contact .container .form .field-group div textarea, .contact .container .form .field-group div select {
    width: calc(100vw - 40px);
  }
}
.contact .container .form .field-group div textarea {
  height: 128px;
}
.contact .container .form .field-group div input, .contact .container .form .field-group div select {
  max-height: 48px;
  height: 48px;
}
.contact .container .form .field-group div select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Safari, Chrome, Opera */
  -webkit-appearance: none;
}
.contact .container .form .field-group div select::-ms-expand {
  display: none;
}
.contact .container .form .field-group div input[type=date], .contact .container .form .field-group div select {
  padding-right: 12px;
}
.contact .container .form .field-group div input[type=date]::-webkit-inner-spin-button,
.contact .container .form .field-group div input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}
.contact .container .form .field-group div .form-control-input.error {
  border-color: #FF0000;
}
.contact .container .form .button-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}
.contact .container .form .button-wrap .button {
  margin-top: 42px;
  padding: 13px 56px;
  border-radius: 4px;
  background-color: #001330;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.contact .container .link-to-apply {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact .container .link-to-apply p {
  color: #5A5D64;
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans";
  margin-bottom: 20px;
}
.contact .container .link-to-apply a {
  color: #97301F;
  text-transform: uppercase;
  font-family: "open sans";
  font-weight: 700;
}

.thank-you-notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 14px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.map iframe {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
@media (max-width: 767px) {
  .map iframe {
    height: 400px;
  }
}

footer {
  width: 100%;
  background-color: #332E2F;
}
footer .footer-wrap {
  max-width: 1200px;
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .footer-wrap {
    flex-wrap: wrap;
    gap: 20px;
  }
}
footer .footer-wrap a {
  cursor: pointer;
}
@media (max-width: 991px) {
  footer .footer-wrap .logo-wrap .logo {
    width: 80%;
  }
}
@media (max-width: 767px) {
  footer .footer-wrap .logo-wrap .logo {
    width: 100%;
  }
}
footer .footer-wrap .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  footer .footer-wrap .links {
    flex: 0 0 100%;
    flex-direction: column;
    gap: 10px;
    order: 2;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  footer .footer-wrap .links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer .footer-wrap .links .link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-left: 32px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 1240px) {
  footer .footer-wrap .links .link {
    margin-left: 28px;
  }
}
@media (max-width: 991px) {
  footer .footer-wrap .links .link {
    font-size: 14px;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  footer .footer-wrap .links .link {
    margin: 0;
    margin: 5px 0;
  }
}
footer .footer-wrap .links .link-home {
  margin-left: 0px;
}
footer .footer-wrap .links .link-contact {
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #97301F;
}
@media (max-width: 991px) {
  footer .footer-wrap .links .link-contact {
    padding: 2px 8px;
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  footer .footer-wrap .links .link-contact {
    font-size: 12px;
  }
}
footer .footer-wrap .icons {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1240px) {
  footer .footer-wrap .icons {
    gap: 20px;
  }
}
footer .footer-wrap .icons a {
  text-align: end;
}
@media (max-width: 991px) {
  footer .footer-wrap .icons a:nth-child(1) {
    margin-left: 5px;
  }
}
@media (max-width: 991px) {
  footer .footer-wrap .icons a:nth-child(2) {
    text-align: center;
  }
}
footer .footer-wrap .icons .footer_logo {
  mix-blend-mode: screen;
  width: 40px;
}
footer .footer-bottom-wrap {
  display: flex;
  align-items: center;
  border-top: 1px #fff solid;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 991px) {
  footer .footer-bottom-wrap {
    flex-wrap: wrap;
    gap: 10px;
  }
}
footer .footer-bottom-wrap .links {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  footer .footer-bottom-wrap .links {
    gap: 10px;
    flex-wrap: wrap;
  }
}
footer .footer-bottom-wrap .links a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
@media (max-width: 767px) {
  footer .footer-bottom-wrap .links a {
    flex: 0 0 100%;
  }
}
footer .footer-bottom-wrap .links .address {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .footer-bottom-wrap .links .address svg {
  min-width: 16px;
  height: 16px;
  display: block;
}
@media (max-width: 767px) {
  footer .footer-bottom-wrap .links .address {
    flex: 0 0 100%;
  }
}
footer .footer-bottom-wrap .copy-right {
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}
.popup .popup-content {
  background: white;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  height: 500px;
  position: relative;
  width: 100%;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 991px) {
  .popup .popup-content {
    max-width: 100%;
    margin: 0px 20px;
  }
}
.popup .popup-content h4 {
  font-family: "chronicle";
}
.popup .popup-content ul {
  padding-left: 20px;
}
.popup .popup-content p {
  margin: 1em 0;
}
.popup .popup-content::-webkit-scrollbar {
  width: 5px;
}
.popup .popup-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.popup .popup-content::-webkit-scrollbar-thumb {
  background: #888;
}
.popup .popup-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.popup .popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.popup .popup-close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #555;
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup .popup-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: #555;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup.popup-active {
  display: flex;
}

.marker {
  background-image: url("../images/new images/map-marker.svg");
  background-size: cover;
  width: 96px;
  height: 64px;
  opacity: 1 !important;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
